@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #000;
  
}
@theme{
--color-primary: #3cb043;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
 background-color: #f3f4f6;
  font-family: Arial, Helvetica, sans-serif;
}

.custom-datepicker-wrapper {
  width: 100% !important;
  display: block;
}
input[type="range"]::-webkit-slider-thumb {
          height: 18px;
          width: 18px;
          border-radius: 50%;
          background: #00674F;
          cursor: pointer;
          -webkit-appearance: none;
          margin-top: -7px; /* Center in track (16px thumb - 2px track) / 2 */
        }
        input[type="range"]::-moz-range-thumb {
          height: 18px;
          width: 18px;
          border-radius: 50%;
          background: #00674F;
          cursor: pointer;
        }
        input[type="range"]::-webkit-slider-runnable-track {
          height: 2px;
        }
        input[type="range"]::-moz-range-track {
          height: 2px;
        }
